{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">

  <header class="jumbotron my-4 home_banner" style="background-image: url( {{ absolute_url(asset('images/banner.jpg')) }} );">
    <h1 class="display-3">{{ banner_title }}</h1>
    <p class="lead">{{ banner_description }}</p>
    <a href="{{ banner_CTA_link }}" class="btn btn-primary btn-lg">{{ banner_CTA_text }}</a>
  </header>

  <h2> {{ provider_list_title }} </h2>
  <div class="row text-center provider_list">

  {% for provider in providers %}
    <div class="col-lg-3 col-md-6 mb-4">
      {{ include('provider/loop.html.twig') }}
    </div>
  {% endfor %}


  </div>

  <input type="hidden" name="app_currency_key" id="app_currency_key" value="{{ api_key }}">

  <h2> {{ product_list_title }} </h2>
  <div class="row product_list">
  {% for product in products %}
    <div class="col-lg-3 col-md-6 mb-3">
      {{ include('bundle/loop.html.twig') }}
    </div>
  {% endfor %}
  </div>

</div>


    {% block page_contents %}{% endblock %}
{% endblock %}
