{% extends 'layout.html.twig' %}

{% block content %}
<br/><br/>
<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">{{ platforms_title }}</h1>
        <div class="list-group">
          {% for platform in platforms %}
            <a  class="list-group-item">{{ platform.name }}</a>
          {% endfor %}
        </div>

        <h1 class="my-4">{{ providers_title }}</h1>
        <div class="list-group">
        {% for provider in providers %}
          <a href="{{ url('provider') }}/{{ provider.id }}" class="list-group-item">{{ provider.owner }}</a>
        {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
          </ol>
          <div class="carousel-inner product_carousal" role="listbox">

            {% for product in products %}

            {% set slide_class = "" %}
            {% if loop.first %}
              {% set slide_class = "active" %}
            {% endif %}

              <div class="carousel-item {{ slide_class }}">
                <img class="d-block img-fluid" src="{{ absolute_url(asset('images/product/' ~ product.image)) }}" alt="{{ product.name }}">
              </div>
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row product_list">

          {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="{{ url('product') }}/{{ product.id }}" class="pro_img"><img class="card-img-top"  src="{{ absolute_url(asset('images/product/' ~ product.image)) }}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ url('product') }}/{{ product.id }}">{{ product.name }}</a>
                  </h4>
                  {% set price = product.getSoftware()|last.price %}
                  <h5>$ {{price}}</h5>
                  <!-- <h5>$ 24.5 {# product.price #}</h5> -->
                  <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">★ ★ ★ ★ ☆</small> -->
                  <a href="{{ url('product') }}/{{ product.id }}"><button class="btn btn-primary">View More </button></a>
                  <button class="btn btn-primary btn-cart">Add To Cart </button>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>

    {% block page_contents %}{% endblock %}
{% endblock %}
