{% extends 'base.html.twig' %}

{% block title %}
{{ project_name }} | {{ page_title }}
{% endblock %}


        {% block stylesheets %}
            {{ include('inc/header.html.twig') }}
        {% endblock %}

        {% block body %}

            <div id="nav-bar-menu">
                {% block nav_bar_menu %}
                    {{ include('inc/menu.html.twig') }}
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                {% block footer %}
                    {{ include('inc/footer.html.twig') }}
                {% endblock %}
            </div>

        {% endblock %}
