<div class="card h-100">
<a href="{{ url('bundle',{'id': product.id}) }}" class="pro_img">
  <img class="card-img-top"  src="{{ absolute_url(asset('images/product/' ~ product.image)) }}" alt="">
</a>
<div class="card-body">
  <h4 class="card-title">
    <a href="{{ url('bundle',{'id': product.id}) }}">{{ product.name }}</a>
  </h4>
  {% set price = product.price %}
  <h5>Price: <span id="cur_price_{{ loop.index }}" class="cur_price" >$ {{ product.price }} USD</span></h5>
  <p class="card-text">{{ product.description }}</p>
</div>
<div class="card-footer">
  <a href="{{ url('bundle',{'id': product.id}) }}"><button class="btn btn-primary">View More </button></a>
  <button class="btn btn-primary btn-cart">Add To Cart </button>
</div>
</div>
